<!DOCTYPE html>
<html>
<head>
	<title>Learning Resource Center Database</title>
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body class="landing_page">
<span id="ajaxButton">
  Make a request
</span>
	<header>
		<a href="index.html"><img src="img/ssi.png"></a>
		<h1>Learning Resource Center</h1>
	</header>
	<main>
		<h1>Welcome, please select a school to begin.</h1>
		<nav class="main_nav">
			<ul> <!-- list of 3 main schools -->
				<li><a href="./ags.html">Adjutant General School</a></li> <!-- pick one to go to school's "main page" -->
				<li><a href="./fms.html">Financial Management School</a></li>
				<li><a href="./ncoa.html">Noncommissioned Officer's Academy</a></li>
			</ul>
		</nav>
	</main>
	<footer></footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>