<!DOCTYPE html>
<html lang="en">
<head>
	<title>LRC NCOA Database</title>
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body class="ncoa_page">
	<header class="school_header">
		<a href="index.html">Back to Schools</a>
		<a href="ncoa.html"><img src="img/ncoa.png"></a>
		<h1>Noncomissioned Officer's Academy Database</h1>
	</header>
	<main>	
		<div class="breadcrumb clearfix">
			<h3 class="instructions">Select a search criterion</h3>
			<button id="clearFilter" class="clear_filter">clear all filters</button> <!-- this will un-check all options --> 
		</div>
		<div class="query">
			<div class="main_selector box_1">
				<h2 class="criterion_title">Course</h2>
				<button class="toggle_button" data-contents=".item_1"></button> <!-- expands and hides ul which gives list of available options -->
				<ul class="contents item_1"> <!-- this ul is hidded until toggle_button is clicked -->
					<!-- each of the following lis will be a clickable option -->
					<li><input type="checkbox" id="course_1" value=""><label for="course_1">Brigade S-1</label></li>
					<li><input type="checkbox" id="course_2" value=""><label for="course_2">Executive Admin Assistant (E3)</label></li>
					<li><input type="checkbox" id="course_3" value=""><label for="course_3">HR Management Qualification Course (HRMQC)</label></li>
					<li><input type="checkbox" id="course_4" value=""><label for="course_4">HR Plans and Operations Course</label></li>
					<li><input type="checkbox" id="course_5" value=""><label for="course_5">Postal Operations F5</label></li>
					<li><input type="checkbox" id="course_6" value=""><label for="course_6">Postal Supervisor F4</label></li>
					<li><input type="checkbox" id="course_7" value=""><label for="course_7">AGBOLC-B</label></li>
					<li><input type="checkbox" id="course_8" value=""><label for="course_8">HR Specialist 42A AIT</label></li>
					<li><input type="checkbox" id="course_9" value=""><label for="course_9">HR Tech WOBC</label></li>
					<li><input type="checkbox" id="course_10" value=""><label for="course_10">AGCCC</label></li>
					<li><input type="checkbox" id="course_11" value=""><label for="course_11">AG Warrant Officer Advanced Course</label></li>
					<li><input type="checkbox" id="course_12" value=""><label for="course_12">HR Specialist ALC</label></li>
					<li><input type="checkbox" id="course_13" value=""><label for="course_13">HR Specialist SLC</label></li>
				</ul>
			</div>
			<div class="main_selector box_2">
				<h2>Core Competency</h2>
				<button class="toggle_button" data-contents=".item_2"></button> <!-- expands and hides ul which gives list of available options -->
				<ul class="contents item_2">
				<!-- this ul is hidded until toggle_button is clicked -->
					<!-- each of the following lis will be a clickable option -->
					<li><input type="checkbox" id="core_competency_1" name="core_competency_1" value=""><label for="core_competency_1">Conduct HR Planning and Operations</label></li>
					<li><input type="checkbox" id="core_competency_2" name="core_competency_2" value=""/><label for="core_competency_2">Coordinate Personnele Support</label></li>
					<li><input type="checkbox" id="core_competency_3" name="core_competency_3" value=""/><label for="core_competency_3">Man the Force</label></li>
					<li><input type="checkbox" id="core_competency_4" name="core_competency_4" value=""/><label for="core_competency_4">Provide HR Services</label></li>
				</ul>
			</div>
			<div class="main_selector box_3">
				<h2>WTSP</h2>
				<button class="toggle_button" data-contents=".item_3"></button> <!-- expands and hides ul which gives list of available options -->
				<ul class="contents item_3"> <!-- this ul is hidded until toggle_button is clicked -->
					<!-- each of the following lis will be a clickable option -->
					<li><input type="checkbox" id="wtsp_1" value=""><label for="wtsp_1">Conduct HR Operations</label></li>
					<li><input type="checkbox" id="wtsp_2" value=""><label for="wtsp_2">Conduct Deployment/Redeployment Operations</label></li>
					<li><input type="checkbox" id="wtsp_3" value=""><label for="wtsp_3">Perform HR/Postal Platoon Mission Command</label></li>
					<li><input type="checkbox" id="wtsp_4" value=""><label for="wtsp_4">Conduct Postal Platoon Operations</label></li>
					<li><input type="checkbox" id="wtsp_5" value=""><label for="wtsp_5">Conduct Personnel Accountability (PA) Operations</label></li>
					<li><input type="checkbox" id="wtsp_6" value=""><label for="wtsp_6">Conduct Casualty Liaison Team (CLT) Activities</label></li>
					<li><input type="checkbox" id="wtsp_7" value=""><label for="wtsp_7">Establish and Operate a Military Mail Terminal (MMT)</label></li>
					<li><input type="checkbox" id="wtsp_8" value=""><label for="wtsp_8">Receive, Store, and Distribute Bulk Mail</label></li>
					<li><input type="checkbox" id="wtsp_9" value=""><label for="wtsp_9">Conduct Deployment/Redeployment Operations</label></li>
					<li><input type="checkbox" id="wtsp_10" value=""><label for="wtsp_10">Conduct HR Operations</label></li>
					<li><input type="checkbox" id="wtsp_11" value=""><label for="wtsp_11">Conduct HR PA Planning</label></li>
					<li><input type="checkbox" id="wtsp_12" value=""><label for="wtsp_12">Conduct PA Operations</label></li>
					<li><input type="checkbox" id="wtsp_13" value=""><label for="wtsp_13">Conduct Deployment/Redeployment Operations</label></li>
					<li><input type="checkbox" id="wtsp_14" value=""><label for="wtsp_14">Conduct HRSC Operations</label></li>
					<li><input type="checkbox" id="wtsp_15" value=""><label for="wtsp_15">Plan, Coordinate &amp; Conduct Deployment/Redeployment</label></li>
					<li><input type="checkbox" id="wtsp_16" value=""><label for="wtsp_16">Conduct HRSC Planning</label></li>
					<li><input type="checkbox" id="wtsp_17" value=""><label for="wtsp_17">Conduct HRSC PA Operations</label></li>
					<li><input type="checkbox" id="wtsp_18" value=""><label for="wtsp_18">Conduct HRSC Casualty Operations</label></li>
					<li><input type="checkbox" id="wtsp_19" value=""><label for="wtsp_19">Conduct Theater Postal Operations</label></li>
					<li><input type="checkbox" id="wtsp_20" value=""><label for="wtsp_20">Conduct PA SR PRM IM Division Operations</label></li>
					<li><input type="checkbox" id="wtsp_21" value=""><label for="wtsp_21">Conduct S1 Operations</label></li>
					<li><input type="checkbox" id="wtsp_22" value=""><label for="wtsp_22">Conduct Sustainment Brigade (SB) HROB Operations</label></li>
					<li><input type="checkbox" id="wtsp_23" value=""><label for="wtsp_23">Conduct Expeditionary Sustainment Command (ESC) HROB Operations</label></li>
				</ul>
			</div>
			<div class="main_selector box_4">
				<h2>Individual Task</h2>
				<button class="toggle_button" data-contents=".item_4"></button> <!-- expands and hides ul which gives list of available options -->
				<ul class="contents item_4"> <!-- this ul is hidded until toggle_button is clicked -->
					<!-- each of the following lis will be a clickable option -->
					<li><input type="checkbox" id="ind_task_1" name="ind_task_1" value=""><label for="ind_task_1">Develop Subordinate Leaders Through Effective Counseling</label></li>
					<li><input type="checkbox" id="ind_task_2" name="ind_task_2" value=""><label for="ind_task_2">Prepare Correspondence</label></li>
					<li><input type="checkbox" id="ind_task_3" name="ind_task_3" value=""><label for="ind_task_3">Maintain Records Using ARIMS</label></li>
					<li><input type="checkbox" id="ind_task_4" name="ind_task_4" value=""><label for="ind_task_4">Process Recommendation for Award</label></li>
					<li><input type="checkbox" id="ind_task_5" name="ind_task_5" value=""><label for="ind_task_5">Process Semi-Centralized Promotions</label></li>
					<li><input type="checkbox" id="ind_task_6" name="ind_task_6" value=""><label for="ind_task_6">Process Enlisted Advancements for PV1-SPC</label></li>
					<li><input type="checkbox" id="ind_task_7" name="ind_task_7" value=""><label for="ind_task_7">Process a Request for Leave, Pass or Permissive TDY</label></li>
					<li><input type="checkbox" id="ind_task_8" name="ind_task_8" value=""><label for="ind_task_8">Prepare Casualty Reports</label></li>
					<li><input type="checkbox" id="ind_task_9" name="ind_task_9" value=""><label for="ind_task_9">Prepare Personnel Accounting Reports</label></li>
					<li><input type="checkbox" id="ind_task_10" name="ind_task_10" value=""><label for="ind_task_10">Create a Manifest Using the Tactical Personnel System &#40;TPS&#41;</label></li>
					<li><input type="checkbox" id="ind_task_11" name="ind_task_11" value=""><label for="ind_task_11">Maintain Emergency Notification Data</label></li>
					<li><input type="checkbox" id="ind_task_12" name="ind_task_12" value=""><label for="ind_task_12">Prepare Suspension of Favorable Personnel Actions (SFPA)</label></li>
					<li><input type="checkbox" id="ind_task_13" name="ind_task_13" value=""><label for="ind_task_13">Prepare Request for Soldier Applications</label></li>
					<li><input type="checkbox" id="ind_task_14" name="ind_task_14" value=""><label for="ind_task_14">Interpret Entitlement to Pay and Allowances</label></li>
					<li><input type="checkbox" id="ind_task_15" name="ind_task_15" value=""><label for="ind_task_15">Interpret the ERB and ORB</label></li>
					<li><input type="checkbox" id="ind_task_16" name="ind_task_16" value=""><label for="ind_task_16">Conduct a Personnel Asset Inventory (PAI)</label></li>
					<li><input type="checkbox" id="ind_task_17" name="ind_task_17" value=""><label for="ind_task_17">Create Ad Hoc Query</label></li>
					<li><input type="checkbox" id="ind_task_18" name="ind_task_18" value=""><label for="ind_task_18">Perform Unit Mailroom Operations</label></li>
					<li><input type="checkbox" id="ind_task_19" name="ind_task_19" value=""><label for="ind_task_19">Process Personnel Strength Accountability Updates</label></li>
					<li><input type="checkbox" id="ind_task_20" name="ind_task_20" value=""><label for="ind_task_20">Employ the Deployed Theater Accountability System &#40;DTAS&#41;</label></li>
					<li><input type="checkbox" id="ind_task_21" name="ind_task_21" value=""><label for="ind_task_21">Identify HR Systems</label></li>
					<li><input type="checkbox" id="ind_task_22" name="ind_task_22" value=""><label for="ind_task_22">Perform Unit Strength Reconciliation</label></li>
					<li><input type="checkbox" id="ind_task_23" name="ind_task_23" value=""><label for="ind_task_23">Process Meal Cards</label></li>
					<li><input type="checkbox" id="ind_task_24" name="ind_task_24" value=""><label for="ind_task_24">Conduct Personnel Readiness Management (PRM)</label></li>
					<li><input type="checkbox" id="ind_task_25" name="ind_task_25" value=""><label for="ind_task_25">Review Correspondence</label></li>
					<li><input type="checkbox" id="ind_task_26" name="ind_task_26" value=""><label for="ind_task_26">Prepare the Unit Status Report (USR)</label></li>
					<li><input type="checkbox" id="ind_task_27" name="ind_task_27" value=""><label for="ind_task_27">Review Awards and Decorations</label></li>
					<li><input type="checkbox" id="ind_task_28" name="ind_task_28" value=""><label for="ind_task_28">Process Strength Reports</label></li>
					<li><input type="checkbox" id="ind_task_29" name="ind_task_29" value=""><label for="ind_task_29">Review Separation Documents</label></li>
					<li><input type="checkbox" id="ind_task_30" name="ind_task_30" value=""><label for="ind_task_30">Review Absent Without Leave (AWOL)/Dropped from the Rolls (DFR) Packets</label></li>
					<li><input type="checkbox" id="ind_task_31" name="ind_task_31" value=""><label for="ind_task_31">Prepare Office Computations</label></li>
					<li><input type="checkbox" id="ind_task_32" name="ind_task_32" value=""><label for="ind_task_32">Process Unresolved Error Reports</label></li>
					<li><input type="checkbox" id="ind_task_33" name="ind_task_33" value=""><label for="ind_task_33">Review the Officer Distribution and Assignment Process</label></li>
					<li><input type="checkbox" id="ind_task_34" name="ind_task_34" value=""><label for="ind_task_34">Establish Records Using the Army Records Information Management System &#40;ARIMS &#41;</label></li>
					<li><input type="checkbox" id="ind_task_35" name="ind_task_35" value=""><label for="ind_task_35">Coordinate the Deployment Cycle Support (DCS) Program</label></li>
					<li><input type="checkbox" id="ind_task_36" name="ind_task_36" value=""><label for="ind_task_36">Perform Joint HR Operations</label></li>
					<li><input type="checkbox" id="ind_task_37" name="ind_task_37" value=""><label for="ind_task_37">Review Enlisted Promotions and Reductions</label></li>
					<li><input type="checkbox" id="ind_task_38" name="ind_task_38" value=""><label for="ind_task_38">Review the HR Organizational Structure</label></li>
					<li><input type="checkbox" id="ind_task_39" name="ind_task_39" value=""><label for="ind_task_39">Conduct Unit Postal Operations</label></li>
					<li><input type="checkbox" id="ind_task_40" name="ind_task_40" value=""><label for="ind_task_40">Coordinate Command Interest Programs</label></li>
					<li><input type="checkbox" id="ind_task_41" name="ind_task_41" value=""><label for="ind_task_41">Review Unit Morale, Welfare and Recreation (MWR) Operations</label></li>
					<li><input type="checkbox" id="ind_task_42" name="ind_task_42" value=""><label for="ind_task_42">Conduct Personnel Accountability</label></li>
					<li><input type="checkbox" id="ind_task_43" name="ind_task_43" value=""><label for="ind_task_43">Perform Tactical Personnel System &#40;TPS&#41; Functions</label></li>
					<li><input type="checkbox" id="ind_task_44" name="ind_task_44" value=""><label for="ind_task_44">Employ the Deployed Theater Accountability Software (DTAS)</label></li>
					<li><input type="checkbox" id="ind_task_45" name="ind_task_45" value=""><label for="ind_task_45">Process Personnel Information Management (PIM)</label></li>
					<li><input type="checkbox" id="ind_task_46" name="ind_task_46" value=""><label for="ind_task_46">Employ the Very Small Aperture Terminal (VSAT)</label></li>
					<li><input type="checkbox" id="ind_task_47" name="ind_task_47" value=""><label for="ind_task_47">Apply the HR Military Decision-Making Process (MDMP)</label></li>
					<li><input type="checkbox" id="ind_task_48" name="ind_task_48" value=""><label for="ind_task_48">Review the HR Authorization Report</label></li>
					<li><input type="checkbox" id="ind_task_49" name="ind_task_49" value=""><label for="ind_task_49">Employ the Enlisted Distribution and Assignment System</label></li>
					<li><input type="checkbox" id="ind_task_50" name="ind_task_50" value=""><label for="ind_task_50">Update the Officer and Enlisted Record Briefs</label></li>
					<li><input type="checkbox" id="ind_task_51" name="ind_task_51" value=""><label for="ind_task_51">Process Leaves and Passes</label></li>
					<li><input type="checkbox" id="ind_task_52" name="ind_task_52" value=""><label for="ind_task_52">Review Emergency Notification Data</label></li>
					<li><input type="checkbox" id="ind_task_53" name="ind_task_53" value=""><label for="ind_task_53">Review Casualty Reports</label></li>
					<li><input type="checkbox" id="ind_task_54" name="ind_task_54" value=""><label for="ind_task_54">Process a Personnel Asset Inventory (PAI)</label></li>
					<li><input type="checkbox" id="ind_task_55" name="ind_task_55" value=""><label for="ind_task_55">Process an Evaluation Report</label></li>
					<li><input type="checkbox" id="ind_task_56" name="ind_task_56" value=""><label for="ind_task_56">Monitor Meal Card Management</label></li>
					<li><input type="checkbox" id="ind_task_57" name="ind_task_57" value=""><label for="ind_task_57">Determine Entitlement to Military Pay and Allowances</label></li>
					<li><input type="checkbox" id="ind_task_58" name="ind_task_58" value=""><label for="ind_task_58">Analyze Personnel Readiness Management Considerations</label></li>
					<li><input type="checkbox" id="ind_task_59" name="ind_task_59" value=""><label for="ind_task_59">Validate Personnel Accountability</label></li>
					<li><input type="checkbox" id="ind_task_60" name="ind_task_60" value=""><label for="ind_task_60">Analyze Strength Reporting</label></li>
					<li><input type="checkbox" id="ind_task_61" name="ind_task_61" value=""><label for="ind_task_61">Review the HR Organization Structure</label></li>
					<li><input type="checkbox" id="ind_task_62" name="ind_task_62" value=""><label for="ind_task_62">Process Line of Duty (LOD) Investigations</label></li>
					<li><input type="checkbox" id="ind_task_63" name="ind_task_63" value=""><label for="ind_task_63">Review the Evaluation Reporting System</label></li>
					<li><input type="checkbox" id="ind_task_64" name="ind_task_64" value=""><label for="ind_task_64">Review the Awards and Decorations Program</label></li>
					<li><input type="checkbox" id="ind_task_65" name="ind_task_65" value=""><label for="ind_task_65">Validate Unit Status Reporting (USR)</label></li>
					<li><input type="checkbox" id="ind_task_66" name="ind_task_66" value=""><label for="ind_task_66">Integrate Identification Card Processing Requirements</label></li>
					<li><input type="checkbox" id="ind_task_67" name="ind_task_67" value=""><label for="ind_task_67">Review the Enlisted Promotions System</label></li>
					<li><input type="checkbox" id="ind_task_68" name="ind_task_68" value=""><label for="ind_task_68">Conduct the Deployment Cycle Support (DCS) Process</label></li>
					<li><input type="checkbox" id="ind_task_69" name="ind_task_69" value=""><label for="ind_task_69">Manage Mobilization Procedures</label></li>
					<li><input type="checkbox" id="ind_task_70" name="ind_task_70" value=""><label for="ind_task_70">Analyze HR Planning Considerations Using the MDMP</label></li>
					<li><input type="checkbox" id="ind_task_71" name="ind_task_71" value=""><label for="ind_task_71">Implement Casualty Operations</label></li>
					<li><input type="checkbox" id="ind_task_72" name="ind_task_72" value=""><label for="ind_task_72">Manage Demobilization Procedures</label></li>
					<li><input type="checkbox" id="ind_task_73" name="ind_task_73" value=""><label for="ind_task_73">Analyze Unified Land Operations</label></li>
					<li><input type="checkbox" id="ind_task_74" name="ind_task_74" value=""><label for="ind_task_74">Plan Unit Postal Operations</label></li>
					<li><input type="checkbox" id="ind_task_75" name="ind_task_75" value=""><label for="ind_task_75">Coordinate MWR Operations</label></li>
					<li><input type="checkbox" id="ind_task_76" name="ind_task_76" value=""><label for="ind_task_76">Employ Situational Leadership</label></li>
					<li><input type="checkbox" id="ind_task_77" name="ind_task_77" value=""><label for="ind_task_77">Plan for Joint HR Operations</label></li>
					<li><input type="checkbox" id="ind_task_78" name="ind_task_78" value=""><label for="ind_task_78">Communicate Officer Distribution and Assignments</label></li>
					<li><input type="checkbox" id="ind_task_79" name="ind_task_79" value=""><label for="ind_task_79">Integrate Legal Support</label></li>
					<li><input type="checkbox" id="ind_task_80" name="ind_task_80" value=""><label for="ind_task_80">Coordinate Personnel Information Management (PIM)</label></li>
					<li><input type="checkbox" id="ind_task_81" name="ind_task_81" value=""><label for="ind_task_81">Interpret Military Pay and Allowances</label></li>
					<li><input type="checkbox" id="ind_task_82" name="ind_task_82" value=""><label for="ind_task_82">Manage Enlisted Strength Management</label></li>
					<li><input type="checkbox" id="ind_task_83" name="ind_task_83" value=""><label for="ind_task_83">Coordinate Command Interest Programs as a Member of the S-1 Staff</label></li>
					<li><input type="checkbox" id="ind_task_84" name="ind_task_84" value=""><label for="ind_task_84">Administer Personnel Readiness Management</label></li>
					<li><input type="checkbox" id="ind_task_85" name="ind_task_85" value=""><label for="ind_task_85">Report Personnel Accountability</label></li>
					<li><input type="checkbox" id="ind_task_86" name="ind_task_86" value=""><label for="ind_task_86">Prepare Unit Personnel Strength Data</label></li>
					<li><input type="checkbox" id="ind_task_87" name="ind_task_87" value=""><label for="ind_task_87">Prepare Personnel Readiness Data for USR</label></li>
					<li><input type="checkbox" id="ind_task_88" name="ind_task_88" value=""><label for="ind_task_88">Conduct Personnel Information Management</label></li>
					<li><input type="checkbox" id="ind_task_89" name="ind_task_89" value=""><label for="ind_task_89">Report Casualty Information</label></li>
					<li><input type="checkbox" id="ind_task_90" name="ind_task_90" value=""><label for="ind_task_90">Manage Unit Postal Operations</label></li>
					<li><input type="checkbox" id="ind_task_91" name="ind_task_91" value=""><label for="ind_task_91">Review Officer Promotions and Selections</label></li>
					<li><input type="checkbox" id="ind_task_92" name="ind_task_92" value=""><label for="ind_task_92">Administer Enlisted Promotions and Selections</label></li>
					<li><input type="checkbox" id="ind_task_93" name="ind_task_93" value=""><label for="ind_task_93">Interpret Military Pay and Allowance</label></li>
					<li><input type="checkbox" id="ind_task_94" name="ind_task_94" value=""><label for="ind_task_94">Administer Evaluations Reporting Program</label></li>
					<li><input type="checkbox" id="ind_task_95" name="ind_task_95" value=""><label for="ind_task_95">Administer Awards and Decorations Program</label></li>
					<li><input type="checkbox" id="ind_task_96" name="ind_task_96" value=""><label for="ind_task_96">Administer Battalion Leave and Pass Program</label></li>
					<li><input type="checkbox" id="ind_task_97" name="ind_task_97" value=""><label for="ind_task_97">Prepare Correspondence</label></li>
					<li><input type="checkbox" id="ind_task_98" name="ind_task_98" value=""><label for="ind_task_98">Conduct HR Planning Using MDMP</label></li>
					<li><input type="checkbox" id="ind_task_99" name="ind_task_99" value=""><label for="ind_task_99">Administer iPERMS Personnel / Finance Records Review Program</label></li>
					<li><input type="checkbox" id="ind_task_100" name="ind_task_100" value=""><label for="ind_task_100">Operate HR Mission Command Nodes</label></li>
					<li><input type="checkbox" id="ind_task_101" name="ind_task_101" value=""><label for="ind_task_101">Administer an HR Metrics Program</label></li>
					<li><input type="checkbox" id="ind_task_102" name="ind_task_102" value=""><label for="ind_task_102">Manage Command Interest Programs</label></li>
					<li><input type="checkbox" id="ind_task_103" name="ind_task_103" value=""><label for="ind_task_103">Administer MWR Support for Deployed Forces</label></li>
					<li><input type="checkbox" id="ind_task_104" name="ind_task_104" value=""><label for="ind_task_104">Implement Personnel Readiness Management</label></li>
					<li><input type="checkbox" id="ind_task_105" name="ind_task_105" value=""><label for="ind_task_105">Validate Personnel Accountability (Procedures)</label></li>
					<li><input type="checkbox" id="ind_task_106" name="ind_task_106" value=""><label for="ind_task_106">Manage Personnel Strength Data</label></li>
					<li><input type="checkbox" id="ind_task_107" name="ind_task_107" value=""><label for="ind_task_107">Implement Casualty Operations Program</label></li>
					<li><input type="checkbox" id="ind_task_108" name="ind_task_108" value=""><label for="ind_task_108">Implement Postal Operations Plans and Policies</label></li>
					<li><input type="checkbox" id="ind_task_109" name="ind_task_109" value=""><label for="ind_task_109">Develop HR Planning &amp; Opns Staff Products Using MDMP</label></li>
					<li><input type="checkbox" id="ind_task_110" name="ind_task_110" value=""><label for="ind_task_110">Establish HR Mission Command Nodes</label></li>
					<li><input type="checkbox" id="ind_task_111" name="ind_task_111" value=""><label for="ind_task_111">Monitor Command Interest Programs</label></li>
					<li><input type="checkbox" id="ind_task_112" name="ind_task_112" value=""><label for="ind_task_112">Direct Personnel Readiness Management</label></li>
					<li><input type="checkbox" id="ind_task_113" name="ind_task_113" value=""><label for="ind_task_113">Direct Deployed Personnel Accountability</label></li>
					<li><input type="checkbox" id="ind_task_114" name="ind_task_114" value=""><label for="ind_task_114">Implement Deployed Personnel Strength Reporting</label></li>
					<li><input type="checkbox" id="ind_task_115" name="ind_task_115" value=""><label for="ind_task_115">Interpret Unit Status Reporting Data</label></li>
					<li><input type="checkbox" id="ind_task_116" name="ind_task_116" value=""><label for="ind_task_116">Coordinate Deployed Casualty Operations</label></li>
					<li><input type="checkbox" id="ind_task_117" name="ind_task_117" value=""><label for="ind_task_117">Coordinate Deployed Postal Operations</label></li>
					<li><input type="checkbox" id="ind_task_118" name="ind_task_118" value=""><label for="ind_task_118">Implement HR Planning &amp; Operations Using MDMP</label></li>
					<li><input type="checkbox" id="ind_task_119" name="ind_task_119" value=""><label for="ind_task_119">Develop HR Key Performance Indicators (NEW)</label></li>
					<li><input type="checkbox" id="ind_task_120" name="ind_task_120" value=""><label for="ind_task_120">Coordinate Personnel Accountability Functions</label></li>
					<li><input type="checkbox" id="ind_task_121" name="ind_task_121" value=""><label for="ind_task_121">Review Personnel Readiness Data for USR</label></li>
					<li><input type="checkbox" id="ind_task_122" name="ind_task_122" value=""><label for="ind_task_122">Implement Casualty Operations Program</label></li>
					<li><input type="checkbox" id="ind_task_123" name="ind_task_123" value=""><label for="ind_task_123">Authenticate Military Orders</label></li>
					<li><input type="checkbox" id="ind_task_124" name="ind_task_124" value=""><label for="ind_task_124">Perform Personnel Office Computations</label></li>
					<li><input type="checkbox" id="ind_task_125" name="ind_task_125" value=""><label for="ind_task_125">Establish HR Data/Voice Communications Nodes</label></li>
					<li><input type="checkbox" id="ind_task_126" name="ind_task_126" value=""><label for="ind_task_126">Conduct Identification Card Processing</label></li>
					<li><input type="checkbox" id="ind_task_127" name="ind_task_127" value=""><label for="ind_task_127">Administer Personnel Information Management</label></li>
					<li><input type="checkbox" id="ind_task_128" name="ind_task_128" value=""><label for="ind_task_128">Coordinate Personnel Readiness Management</label></li>
					<li><input type="checkbox" id="ind_task_129" name="ind_task_129" value=""><label for="ind_task_129">Manage Personnel Accountability</label></li>
					<li><input type="checkbox" id="ind_task_130" name="ind_task_130" value=""><label for="ind_task_130">Manage Personnel Strength Reporting Data</label></li>
					<li><input type="checkbox" id="ind_task_131" name="ind_task_131" value=""><label for="ind_task_131">Interpret Unit Status Reporting Data</label></li>
					<li><input type="checkbox" id="ind_task_132" name="ind_task_132" value=""><label for="ind_task_132">Administer Casualty Operations in Theater</label></li>
					<li><input type="checkbox" id="ind_task_133" name="ind_task_133" value=""><label for="ind_task_133">Coordinate Theater Postal Operations</label></li>
					<li><input type="checkbox" id="ind_task_134" name="ind_task_134" value=""><label for="ind_task_134">Manage Evaluations Process (NEW)</label></li>
					<li><input type="checkbox" id="ind_task_135" name="ind_task_135" value=""><label for="ind_task_135">Accept Domestic Mail</label></li>
					<li><input type="checkbox" id="ind_task_136" name="ind_task_136" value=""><label for="ind_task_136">Accept Domestic Mail Requiring Special Services</label></li>
					<li><input type="checkbox" id="ind_task_137" name="ind_task_137" value=""><label for="ind_task_137">Maintain Stamp Stock</label></li>
					<li><input type="checkbox" id="ind_task_138" name="ind_task_138" value=""><label for="ind_task_138">Conduct Audit of Stamp Stock</label></li>
					<li><input type="checkbox" id="ind_task_139" name="ind_task_139" value=""><label for="ind_task_139">Sell Domestic Postal Money Orders</label></li>
					<li><input type="checkbox" id="ind_task_140" name="ind_task_140" value=""><label for="ind_task_140">Cash Domestic Postal Money Orders</label></li>
					<li><input type="checkbox" id="ind_task_141" name="ind_task_141" value=""><label for="ind_task_141">Prepare Money Order Report</label></li>
					<li><input type="checkbox" id="ind_task_142" name="ind_task_142" value=""><label for="ind_task_142">Control Domestic Money Order Forms</label></li>
					<li><input type="checkbox" id="ind_task_143" name="ind_task_143" value=""><label for="ind_task_143">Process Incoming Registered Mail</label></li>
					<li><input type="checkbox" id="ind_task_144" name="ind_task_144" value=""><label for="ind_task_144">Process Mail</label></li>
					<li><input type="checkbox" id="ind_task_145" name="ind_task_145" value=""><label for="ind_task_145">Deliver Registered Mail</label></li>
					<li><input type="checkbox" id="ind_task_146" name="ind_task_146" value=""><label for="ind_task_146">Dispatch Outgoing Registered Mail</label></li>
					<li><input type="checkbox" id="ind_task_147" name="ind_task_147" value=""><label for="ind_task_147">Prepare Claims and Inquiry Forms</label></li>
					<li><input type="checkbox" id="ind_task_148" name="ind_task_148" value=""><label for="ind_task_148">Prepare Mail Transportation Documentation</label></li>
					<li><input type="checkbox" id="ind_task_149" name="ind_task_149" value=""><label for="ind_task_149">Conduct Postal Directory Functions</label></li>
					<li><input type="checkbox" id="ind_task_150" name="ind_task_150" value=""><label for="ind_task_150">Operate a Postal Service Center</label></li>
					<li><input type="checkbox" id="ind_task_151" name="ind_task_151" value=""><label for="ind_task_151">Maintain Postal Supplies</label></li>
					<li><input type="checkbox" id="ind_task_152" name="ind_task_152" value=""><label for="ind_task_152">Inspect a Military Post Office</label></li>
					<li><input type="checkbox" id="ind_task_153" name="ind_task_153" value=""><label for="ind_task_153">Spot Check the Acceptance of Domestic Mail</label></li>
					<li><input type="checkbox" id="ind_task_154" name="ind_task_154" value=""><label for="ind_task_154">Spot Check the Acceptance of Domestic Mail Requiring Special services</label></li>
					<li><input type="checkbox" id="ind_task_155" name="ind_task_155" value=""><label for="ind_task_155">Spot Check Acceptance of International Mail</label></li>
					<li><input type="checkbox" id="ind_task_156" name="ind_task_156" value=""><label for="ind_task_156">Check Mail Directory Operations</label></li>
					<li><input type="checkbox" id="ind_task_157" name="ind_task_157" value=""><label for="ind_task_157">Spot Check Accountable Mail Operations</label></li>
					<li><input type="checkbox" id="ind_task_158" name="ind_task_158" value=""><label for="ind_task_158">Spot Check Processed Mail</label></li>
					<li><input type="checkbox" id="ind_task_159" name="ind_task_159" value=""><label for="ind_task_159">Spot Check the Maintenance of/Program an Integrated Retail Terminal</label></li>
					<li><input type="checkbox" id="ind_task_160" name="ind_task_160" value=""><label for="ind_task_160">Control Stamp Stock</label></li>
					<li><input type="checkbox" id="ind_task_161" name="ind_task_161" value=""><label for="ind_task_161">Assume Custodian of Postal Effects (COPE) Responsibility</label></li>
					<li><input type="checkbox" id="ind_task_162" name="ind_task_162" value=""><label for="ind_task_162">Control Postal Supplies and Capital/Sensitive Equipment</label></li>
					<li><input type="checkbox" id="ind_task_163" name="ind_task_163" value=""><label for="ind_task_163">Administer Postal Management Information System</label></li>
					<li><input type="checkbox" id="ind_task_164" name="ind_task_164" value=""><label for="ind_task_164">Perform Audits at a Military Post Office</label></li>
					<li><input type="checkbox" id="ind_task_165" name="ind_task_165" value=""><label for="ind_task_165">Spot Check the Sales of Domestic Postal Money Orders</label></li>
					<li><input type="checkbox" id="ind_task_166" name="ind_task_166" value=""><label for="ind_task_166">Spot Check the Cashing of Domestic Postal Money Orders</label></li>
					<li><input type="checkbox" id="ind_task_167" name="ind_task_167" value=""><label for="ind_task_167">Prepare Consolidated Business Report</label></li>
					<li><input type="checkbox" id="ind_task_168" name="ind_task_168" value=""><label for="ind_task_168">Control Domestic Money Orders</label></li>
					<li><input type="checkbox" id="ind_task_169" name="ind_task_169" value=""><label for="ind_task_169">Monitor Search/Seizure Operation</label></li>
					<li><input type="checkbox" id="ind_task_170" name="ind_task_170" value=""><label for="ind_task_170">Report Postal Offenses</label></li>
					<li><input type="checkbox" id="ind_task_171" name="ind_task_171" value=""><label for="ind_task_171">Update Postal Operating Plan</label></li>
					<li><input type="checkbox" id="ind_task_172" name="ind_task_172" value=""><label for="ind_task_172">Identify Military Postal Service Responsibilities</label></li>
					<li><input type="checkbox" id="ind_task_173" name="ind_task_173" value=""><label for="ind_task_173">Operate a Contingency Military Post Office</label></li>
					<li><input type="checkbox" id="ind_task_174" name="ind_task_174" value=""><label for="ind_task_174">Operate the Automated Military Postal System &#40;AMPS&#41; Database</label></li>
				</ul>
			</div>
			<div class="main_selector box_5">
				<h2>Collective Task</h2>
				<button class="toggle_button" data-contents=".item_5"></button> <!-- expands and hides ul which gives list of available options -->
				<ul class="contents item_5"> <!-- this ul is hidded until toggle_button is clicked -->
					<!-- each of the following lis will be a clickable option -->
					<li><input type="checkbox" id="col_task_1" name="col_task_1" value=""><label for="col_task_1">Plan Establishment of Theater Gateway Personnel Accountability Team (PAT)</label></li>
					<li><input type="checkbox" id="col_task_2" name="col_task_2" value=""><label for="col_task_2">Conduct Return to Duty Personnel Activities</label></li>
					<li><input type="checkbox" id="col_task_3" name="col_task_3" value=""><label for="col_task_3">Manage Theater Gateway Personnel Accountability Teams</label></li>
					<li><input type="checkbox" id="col_task_4" name="col_task_4" value=""><label for="col_task_4">Establish a Military Mail Terminal</label></li>
					<li><input type="checkbox" id="col_task_5" name="col_task_5" value=""><label for="col_task_5">Operate a Military Mail Terminal</label></li>
					<li><input type="checkbox" id="col_task_6" name="col_task_6" value=""><label for="col_task_6">Conduct Casualty Liaison Team Activities</label></li>
					<li><input type="checkbox" id="col_task_7" name="col_task_7" value=""><label for="col_task_7">Provide Postal Services</label></li>
					<li><input type="checkbox" id="col_task_8" name="col_task_8" value=""><label for="col_task_8">Provide Morale, Welfare, and Recreation (MWR) Support</label></li>
					<li><input type="checkbox" id="col_task_9" name="col_task_9" value=""><label for="col_task_9">Prepare Personnel for Deployment</label></li>
					<li><input type="checkbox" id="col_task_10" name="col_task_10" value=""><label for="col_task_10">Conduct Casualty Operations</label></li>
					<li><input type="checkbox" id="col_task_11" name="col_task_11" value=""><label for="col_task_11">Perform Essential Personnel Services</label></li>
					<li><input type="checkbox" id="col_task_12" name="col_task_12" value=""><label for="col_task_12">Conduct Unit Mail Services</label></li>
					<li><input type="checkbox" id="col_task_13" name="col_task_13" value=""><label for="col_task_13">Process Replacements (S1)</label></li>
					<li><input type="checkbox" id="col_task_14" name="col_task_14" value=""><label for="col_task_14">Prepare Personnel for Redeployment</label></li>
					<li><input type="checkbox" id="col_task_15" name="col_task_15" value=""><label for="col_task_15">Maintain Unit Strength</label></li>
					<li><input type="checkbox" id="col_task_16" name="col_task_16" value=""><label for="col_task_16">Conduct Personnel Readiness Procedures</label></li>
					<li><input type="checkbox" id="col_task_17" name="col_task_17" value=""><label for="col_task_17">Conduct Personnel Accountability</label></li>
					<li><input type="checkbox" id="col_task_18" name="col_task_18" value=""><label for="col_task_18">Conduct Strength Reporting</label></li>
					<li><input type="checkbox" id="col_task_19" name="col_task_19" value=""><label for="col_task_19">Manage Transient Personnel Activities</label></li>
					<li><input type="checkbox" id="col_task_20" name="col_task_20" value=""><label for="col_task_20">Manage Casualty Reporting</label></li>
					<li><input type="checkbox" id="col_task_21" name="col_task_21" value=""><label for="col_task_21">Manage Postal Services</label></li>
					<li><input type="checkbox" id="col_task_22" name="col_task_22" value=""><label for="col_task_22">Manage Military Mail Terminal</label></li>
					<li><input type="checkbox" id="col_task_23" name="col_task_23" value=""><label for="col_task_23">Develop Future HR Force Requirements</label></li>
					<li><input type="checkbox" id="col_task_24" name="col_task_24" value=""><label for="col_task_24">Evaluate Current HR Force Requirements</label></li>
					<li><input type="checkbox" id="col_task_25" name="col_task_25" value=""><label for="col_task_25">Monitor Transient Personnel Activities at Theater Gateway</label></li>
					<li><input type="checkbox" id="col_task_26" name="col_task_26" value=""><label for="col_task_26">Monitor Casualty Reporting</label></li>
					<li><input type="checkbox" id="col_task_27" name="col_task_27" value=""><label for="col_task_27">Monitor Military Mail Terminal Activities</label></li>
					<li><input type="checkbox" id="col_task_28" name="col_task_28" value=""><label for="col_task_28">Conduct Retention Operations</label></li>
					<li><input type="checkbox" id="col_task_29" name="col_task_29" value=""><label for="col_task_29">Manage Theater Rest and Recuperation (R&amp;R) Activities</label></li>
					<li><input type="checkbox" id="col_task_30" name="col_task_30" value=""><label for="col_task_30">Plan Establishment of the Theater Database</label></li>
					<li><input type="checkbox" id="col_task_31" name="col_task_31" value=""><label for="col_task_31">Establish the Theater Database</label></li>
					<li><input type="checkbox" id="col_task_32" name="col_task_32" value=""><label for="col_task_32">Maintain the Theater Database</label></li>
					<li><input type="checkbox" id="col_task_33" name="col_task_33" value=""><label for="col_task_33">Conduct HRSC Planning</label></li>
					<li><input type="checkbox" id="col_task_34" name="col_task_34" value=""><label for="col_task_34">Plan Establishment of Theater Casualty Assistance Center</label></li>
					<li><input type="checkbox" id="col_task_35" name="col_task_35" value=""><label for="col_task_35">Maintain the Theater Casualty Assistance Center</label></li>
					<li><input type="checkbox" id="col_task_36" name="col_task_36" value=""><label for="col_task_36">Monitor Postal Services</label></li>
					<li><input type="checkbox" id="col_task_37" name="col_task_37" value=""><label for="col_task_37">Plan Theater Postal Support</label></li>
					<li><input type="checkbox" id="col_task_38" name="col_task_38" value=""><label for="col_task_38">Maintain Theater Postal Services</label></li>
				</ul>
			</div>
			<div class="main_selector box_6">
				<h2>Skill Level</h2>
				<button class="toggle_button" data-contents=".item_6"></button> <!-- expands and hides ul which gives list of available options -->
				<ul class="contents item_6"> <!-- this ul is hidded until toggle_button is clicked -->
					<!-- each of the following lis will be a clickable option -->
					<li><input type="checkbox" id="skill_level_1" name="skill_level_1" value=""><label for="skill_level_1">42A SL1</label></li>
					<li><input type="checkbox" id="skill_level_2" name="skill_level_2" value=""><label for="skill_level_2">42A SL3</label></li>
					<li><input type="checkbox" id="skill_level_3" name="skill_level_3" value=""><label for="skill_level_3">42A SL4</label></li>
					<li><input type="checkbox" id="skill_level_4" name="skill_level_4" value=""><label for="skill_level_4">LT</label></li>
					<li><input type="checkbox" id="skill_level_5" name="skill_level_5" value=""><label for="skill_level_5">CPT</label></li>
					<li><input type="checkbox" id="skill_level_6" name="skill_level_6" value=""><label for="skill_level_6">MAJ</label></li>
					<li><input type="checkbox" id="skill_level_7" name="skill_level_7" value=""><label for="skill_level_7">420A WO1/CW2</label></li>
					<li><input type="checkbox" id="skill_level_8" name="skill_level_8" value=""><label for="skill_level_8">420A CW3/CW4</label></li>
					<li><input type="checkbox" id="skill_level_9" name="skill_level_9" value=""><label for="skill_level_9">F4</label></li>
					<li><input type="checkbox" id="skill_level_10" name="skill_level_10" value=""><label for="skill_level_10">F5</label></li>
				</ul>
			</div>
			<div class="main_selector box_7">
				<h2>Subkey Function</h2>
				<button class="toggle_button" data-contents=".item_7"></button> <!-- expands and hides ul which gives list of available options -->
				<ul class="contents item_7"> <!-- this ul is hidded until toggle_button is clicked -->
					<!-- each of the following lis will be a clickable option -->
					<li><input type="checkbox" id="subkey_1" name="subkey_1" value=""><label for="subkey_1">HR Planning and Operations</label></li>
					<li><input type="checkbox" id="subkey_2" name="subkey_2" value=""><label for="subkey_2">Operate HR Mission Command Nodes</label></li>
					<li><input type="checkbox" id="subkey_3" name="subkey_3" value=""><label for="subkey_3">Army Band Operations</label></li>
					<li><input type="checkbox" id="subkey_4" name="subkey_4" value=""><label for="subkey_4">Command Interest Program</label></li>
					<li><input type="checkbox" id="subkey_5" name="subkey_5" value=""><label for="subkey_5">Morale, Welfare, and Recreation (MWR) Support</label></li>
					<li><input type="checkbox" id="subkey_6" name="subkey_6" value=""><label for="subkey_6">Personnel Accountability</label></li>
					<li><input type="checkbox" id="subkey_7" name="subkey_7" value=""><label for="subkey_7">Personnel Information Management (PIM)</label></li>
					<li><input type="checkbox" id="subkey_8" name="subkey_8" value=""><label for="subkey_8">Personnel Readiness Management</label></li>
					<li><input type="checkbox" id="subkey_9" name="subkey_9" value=""><label for="subkey_9">Retention Operations</label></li>
					<li><input type="checkbox" id="subkey_10" name="subkey_10" value=""><label for="subkey_10">Strength Reporting (SR)</label></li>
					<li><input type="checkbox" id="subkey_11" name="subkey_11" value=""><label for="subkey_11">Casualty Operations</label></li>
					<li><input type="checkbox" id="subkey_12" name="subkey_12" value=""><label for="subkey_12">Essential Personnel Services (EPS)</label></li>
					<li><input type="checkbox" id="subkey_13" name="subkey_13" value=""><label for="subkey_13">Postal Operations</label></li>
				</ul>
			</div>
			<div class="main_selector box_8">
				<h2>Echelon</h2>
				<button class="toggle_button" data-contents=".item_8"></button> <!-- expands and hides ul which gives list of available options -->
				<ul class="contents item_8"> <!-- this ul is hidded until toggle_button is clicked -->
					<!-- each of the following lis will be a clickable option -->
					<li><input type="checkbox" id="echelon_1" name="echelon_1" value=""><label for="echelon_1">HR Company</label></li>
					<li><input type="checkbox" id="echelon_2" name="echelon_2" value=""><label for="echelon_2">MMT</label></li>
					<li><input type="checkbox" id="echelon_3" name="echelon_3" value=""><label for="echelon_3">TG PAT</label></li>
					<li><input type="checkbox" id="echelon_4" name="echelon_4" value=""><label for="echelon_4">HR Sustainment Center</label></li>
					<li><input type="checkbox" id="echelon_5" name="echelon_5" value=""><label for="echelon_5">Staff WTSPs</label></li>
				</ul>
			</div>
		</div>
		<div class="query_result"> <!-- this is where the "results" will appear as determined by the queries selected above -->
			<div class="label">
				<h3>Lesson</h3>
				<h3>Items</h3>
				<h3>Course</h3>
				<h3>Individual Tasks</h3>
				<h3>Collective Task</h3>
			</div>
			<!-- <div class="lesson_results"> -->
				<div class="lesson_list"></div> <!-- empty ul where items will populate when queried -->
			<!-- </div> -->
		</div>
	</main>
	<footer></footer>

	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>

</body>
</html>