/*red #c30e2e*/
/*light grey #ebebeb*/
/*font-family Josefin Sans*/
/*font-family Playfair Display*/

body{
    font-family: Josefin Sans;
    color: #444;
}

input:focus, select:focus, textarea:focus, button:focus { outline: none; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}

.ags_page main{
    padding: 10px;
}

.fms_page main{
    padding: 10px;
}

.instructions{
    /*font-family: sans-serif;*/
    font-size: .8em;
    top: 130px;
    font-weight: 100;
    margin-top: 30px;
    position: absolute;
}

.clear_filter{
    position: absolute;
    right: 10px;
    top: 154px;
    font-size: .6em;
    padding: 5px 20px;
    text-decoration: none;
    border: solid 1px #444;
    color: #444;
    letter-spacing: 0.05em;
}

.main_selector .show{
    display: block;
}

.main_selector .show h2{
    color: #fff;
}

.main_selector{
    background-image: url(../img/selection_bg.jpg);
    background-repeat: no-repeat;
    background-color: #ebebeb;
    position: relative;
    background-size: cover;
    max-width: 320px;
}

.main_selector ul{
    display: none;
    padding: 5%;
}

.main_selector li{
    color: #444;
    list-style: none;
    line-height: 2;
    position: relative;
}

input{
    position: absolute;
    right: 0;
    bottom: 8px;
    -webkit-appearance: none;
    border: solid 1px #444;
    height: 15px;
    width: 15px;
    background-size: cover;
}

.checked{
    background-image: url(../img/checked.png);
}

.main_selector h2{
    color: #444;
    font-weight: 300;
    padding: 15px;
    text-align: left;
    font-size: 1em;
    margin-left: 75px;
}

.red_fill{
    background-image: url(../img/selection_bg2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.red_fill h2{
    color: #fff;
}

.red_fill .toggle_button{
    color: #fff;
    height: 50px;
}

.ags_page .school_header{
    background-color: #444;
    color: #fff;
    padding: 10% 10% 1% 20%;
    position: relative;
}

.fms_page .school_header{
    background-color: #444;
    color: #fff;
    padding: 10% 10px 1% 20%;
    position: relative;
}

.ncoa_page .school_header{
    background-color: #444;
    color: #fff;
    padding: 10% 10px 1% 20%;
    position: relative;
}

.school_header a:first-child{
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: .7em;
}

.school_header img{
    width: 70px;
    position: absolute;
    top: 30px;
    left: 20px;
}

.school_header h1{
    font-size: 1.4em;
    text-align: right;
    line-height: 1.5;
}

.toggle_button{
    -webkit-appearance: none;
    border: none;
    position: absolute;
    top: 0;
    right: 5px;
    text-decoration: none;
    color: #444;
    background: none;
    width: 55px;
    height: 47px;
}

.button:focus{
    outline: none;
}

.query{
    margin-top: 35px;
}

.label{
    border-bottom: solid 1px #444;
    margin: 50px 0px 50px 0px;
    padding-bottom: 10px;
}

main .query_result h3{
    font-size: .8em;
    width: 25%;
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
}

#lesson_results li{
    list-style: none;
}

/*.landing_page{
    font-family: serif;
}*/

.landing_page main{
    padding: 10px;
}

.landing_page header img{
    width: 90px;
    position: absolute;
    top: 20px;
    left: 7px;
}

.landing_page header{
    background-color: #0051a8;
    color: #fff;
    padding: 10% 10% 1% 20%;
    position: relative;
}

.landing_page header h1{
    font-size: 1.4em;
    text-align: right;
    line-height: 1.5;
}

.landing_page main h1{
    margin: 25px 0px;
    font-size: 1.3em;
   /* font-family: sans-serif;*/
    font-weight: 100;
    text-align: center;
}

.main_nav ul{
    padding-left: 0;
}

.main_nav li{
    list-style: none;
}

.main_nav a{
    display: block;
    background-color: #0051a8;
    color: #fff;
    text-decoration: none;
    text-align: left;
    padding: 15px 25px;
    margin-bottom: 13px;
}
    
@media screen and (min-width: 600px){

    .main_selector{
        float: left;
        width: 48%;
        margin: 5px;
    }

    .main_selector h2{
        padding: 0px;
    }

}














